-var url = "http://coffeepal-floweapp.m9ncewxn3n.eu-west-2.elasticbeanstalk.com"
html
    head
        title About Us - CoffeePal
        link( href="/css/login.css" type="text/css" rel="stylesheet")
        link(rel="stylesheet" href="/css/header.css" type="text/css")
        link(rel="stylesheet" href="/css/about.css" type="text/css")
        link(rel="stylesheet" href="/css/icon-pop.css" type="text/css")
        link(rel="stylesheet" href="/css/overline-centre.css" type="text/css")
    body
        .header
            a.headeritem.hvr-overline-from-center(href="/") Home
            a.headeritem.hvr-overline-from-center.headeritem(href="/products") Products
            a.headeritem.hvr-overline-from-center.headeritem(href="/orders") Orders
            a.headeritem(href=url) <img class="hvr-pop" src="/img/CoffeePal.png" width="34px" height="34px">
            a.headeritem.hvr-overline-from-center.headeritem(href="/login") Login
            a.headeritem.hvr-overline-from-center.headeritem(href="/signup") Register
            a.headeritem.hvr-overline-from-center.headeritem(href="/summary") Summary
            a.headeritem.hvr-overline-from-center.headeritem(href="/about") About
        br
        h3.title About Us
        p.description.
            Simply put, we make coffee. We specialise in the best hot drinks, for the lowest prices, and the highest
            convenience. <br>
            We're a small chain of coffee shops, located in the Huddersfield town centre.